<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Ingredients</strong>
  <%= render partial: 'ingredients/list', locals: { ingredients: @recipe.ingredients} %>
</p>

<p>
  <strong>Tags</strong>
  <%= render partial: 'tags/list', locals: { tags: @recipe.tags} %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
